User:{{model "user:name.first"}}
<br/>
<ul data-surname="{{model "user:name.last"}}">{{#models "item_list"}}
    <li data-info="{{model ":subject"}} {{model ":name"}}">{{model ":name"}}:{{model ":value"}}</li>
{{/models}}</ul>